---
import Page from "@/layouts/page.astro";
import { Button } from "@typethings/ui";
---

<Page title="Welcome to Astro.">
  <Button>Typethings Button</Button>
  <h2 class="text-4xl">sdfsdfds sdfds</h2>
</Page>
