---
import Layout from "@/layouts/layout.astro";
import { Button } from "@typethings/ui";
---

<Layout title="Welcome to Astro.">
  <Button>Typethings Button</Button>
  <h2 class="text-4xl">sdfsdfds sdfds</h2>
</Layout>
