---
// Global styles:
import "@typethings/ui/dist/index.css";
import "@/styles/globals.css";

// Global layout:
import Header from "@/components/header.astro";

// Layout props:
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-neutral-900 text-white antialiased font-sans">
    <Header />
    <slot />
  </body>
</html>
