---
import Socials from "@/components/socials.astro";
---

<nav class="border-t-2 border-indigo-900">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-5"
  >
    <a href="/" class="flex items-center space-x-3">
      <img src="images/logo.svg" class="h-8" alt="Typethings logo" />
      <span
        class="self-center text-xl font-medium whitespace-nowrap dark:text-white"
      >
        Typethings
      </span>
    </a>
    <Socials />
  </div>
</nav>
